/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
/*---------------------------------
----------- header task------------
--------------------------------- */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff4e7;
}
.head-1{
    display: flex;
    width: 1100px;
    flex-direction:row;
    justify-content: space-between;
    background-color: #FFF4E7;
    border-radius: 10px;
    margin-bottom: 10px;
}
.header-main{
    padding-left: 20px;
}
.header-main-two{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
    font-weight: bold;
}
.header-main-two a{
    padding: 10px;
}
.head-2{
    /* border: 0.5px solid #FFF4E7; */
    display: flex;
    width: 1100px;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #FFF4E7;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 35px;
}
.head-2-2{
    border: 1px solid #FFF4E7;
    height: 150px;
    width: 862px;
}
.head-2-2 p{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 12px;
    color: #8e8e8e;
}
.head-2-button button{
    height: 55px;
    width: 150px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #FF900E;
    border-radius: 8px;
    cursor: pointer;

}
.head{
    display: flex;
    width: 1100px;
    flex-direction:column;
}
.head img{
    height: 550px;
    width: 1100px;
    padding-bottom: 20px;
}
/*-----------------------------------
------------ main task---------------
---------------------------------- */
.main1{
    /* border: 1px solid black; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1100px;
    align-items: center;
    border: 1px solid #ffffff;
    margin-bottom: 80px;
}
.main1 .main-1-img .main-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 40px;
    padding-top: 50px;
}
.main1 .main-1-img .main-img img{
    height: 250px;
    width: 250px;
    padding: 10px;
}
.main-1-info{
    height: 270px;
    width: 460px;
    margin-left: 40px;
    margin-top: 50px;
    text-align: left;
}
.main-1-info p{
    font-size: 41px;
    margin-top: 20px;
}
.main-1-info .color1{
    color: #b6b5b4;
    font-size: 37px;
    margin-top: 20px;
}
.main-1-info .color2{
    color: #000000;
    font-size: 41px;
    font-weight: bold;
    margin-top: 20px;
}
.main-1-info .color3{
    color: #FF900E;
    font-weight: bold;
    font-size: 40px;
    margin-top: 20px;
}
.main-1-info .p{
    font-size: 12px;
    color: #8e8e8e;
    margin-bottom: 20px;
}
/* -----------------------------
---------Main-2 section---------
----------------------------- */
.main-2{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1100px;
    margin-bottom: 30px;
}
.main-2 .main-1-doc{
    text-align: left;
    margin-right: 80px;
}
.main-2 .main-1-doc .main-doc{
    width: 100%;
}
.main-2 .main-1-doc .main-doc .main-docs{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main-2 .main-1-doc .main-doc .main-docs-details{
    font-size: 12px;
    color: #8e8e8e;
}
.main-2 .main-1-doc .main-doc .main-docs .semi-doc1{
    border: 1px solid #FF900E;
    height: 120px;
    width: 7px;
    background-color: #FF900E;
    border-radius: 3px;
    margin-right: 30px;
}
.main-2 .main-1-doc .main-doc .main-docs .semi-doc2{
    font-size: 20px;
}
.main-2 .main-1-doc .main-doc1{
    box-shadow: 3px 5px 20px 3px #e8e8e8;
    height: 150px;
    padding-left: 30px;
    text-align: left;
    padding-top: 5px;
    margin-bottom: 15px;
}
.main-2 .main-1-doc .main-doc1 p{
    font-size: 12px;
    color: #8e8e8e;
}
.main-2 .main-2-info img{
    width: 550px;
    height: 850px;
}
.main-2 .main-2-info{
    position: relative;
}
.main-2 .main-2-info .btn{
    position: absolute;
    height: 100px;
    width: 300px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FF900E;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}
/* -----------------------------
---------Main-3 section---------
----------------------------- */
.main-3{
    margin-top: 20px;
    width: 1100px;
    text-align: left;
    margin-bottom: 100px;
}
.main-3 p{
    width: 500px;
    font-size: 12px;
    color: #8e8e8e;
}
.facts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}
.facts .fact-1{
    text-align: center;
    width: 150px;
    height: 150px;
    border: 1.5px solid #ffb969;
    padding-top: 15px;
    border-radius: 8px;
}
.facts .fact-1:hover{
    text-align: center;
    padding-top: 25px;
    width: 160px;
    height: 160px;
    border: none;
    background-color: #ffb560;
    box-shadow: 3px 5px 20px 3px #ff9720;
    transition: 1s;
    border-radius: 5px;
}
/* -----------------------------
---------Main-4 section---------
----------------------------- */
.main-4{
    width: 1100px;
    margin-bottom: 100px;
}
.main-4 .s-text{
    text-align: center;
}
.main-4 .s-text p{
    font-size: 12px;
    color: #8e8e8e;
    width: 500px;
    margin-left: 300px;
}
.Sponsors{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
/* -----------------------------
--------------Footer------------
----------------------------- */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff4e7;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px;
}
.foot{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foot .p{
    color: #979797;
    font-size: 10px;
}
/* -----------------------------
--------------Extra-------------
----------------------------- */
.extra-section{
    margin-bottom: 100px;
    width: 1100px;
}
.resume{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}
.resumeinfo p{
    box-shadow: 5px 5px 25px 5px rgb(225, 225, 225);
}
.resumeinfo h2{
    color: orange;
    border-radius: 10px;
    border: 1px solid orange;
    box-shadow: 5px 5px 25px 5px rgb(225, 225, 225);
}
.extra-section .resume .resumeinfo p{
    background-color: rgb(255, 255, 255);
    transition: 2s;
}
.extra-section .resume .resumeinfo p:hover{
    background-color: #FF900E;
    transition: 0.5s;
}

/* -----------------------------
------------Head-Media----------
----------------------------- */
@media only screen and (max-width:576px){
    .head{
        width: 100%;
    }
    .head-1, .head-2{
        width: 100%;
    }
    .header-main{
    }
    .head .head-1 .header-main-two{
        display: flex;
        flex-direction: column;   
    }
    .head-2{
        display: flex;
        flex-direction: column;
    }
    .head-2-2{
        width: 100%;
    }
    .head-2-button{
        margin-top: 70px;
    }
    .head img{
        width: 90%;
        height: 315px;
        margin: 25px;
    }
}
/* -----------------------------
-----------main1-Media----------
----------------------------- */
@media only screen and (max-width:576px) {
    .main-1{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .main1 .main-1 .main-1-img .main-img{
        width: 100%;
        display: grid;
        margin-right: 40px;
        grid-template-columns: 1fr;
    }
    .main1 .main-1 .main-1-img .main-img img{
        box-shadow: 5px 5px 25px 5px rgb(225, 225, 225);
    }
    .main-1-info{
        width: 100%;
        text-align: center;
        margin-right: 40px;
    }
    .main-1-info p{
        padding-left: 35px;
        padding-right: 35px;
    }
    .main-1-info .head-2-button{
        margin-top: 35px;
    }
}
/* -----------------------------
-----------main2-Media----------
----------------------------- */
@media only screen and (max-width:576px){
    .main-2{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        
    }
    .main-2 .main-1-doc{
        align-items: center;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .main-2 .main-1-doc .main-doc .main-docs-details{
        padding-left: 10px;
        padding-right: 10px;
        text-align: justify;
    }
    .main-docs{
        text-align: left;
        margin-left: 10px;
    }
    .main-doc1{
        width: 92%;
    }
    .main-2 .main-2-info img{
        height: 500px;
        width: 300px;
    }
    .main-2 .main-2-info .btn{
        height: 50px;
        width: 200px;
        padding-bottom:55px;
    }
}
/* -----------------------------
-----------main3-Media----------
----------------------------- */
@media only screen and (max-width:576px) {
    .main-3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    .main-3 p{
        width: 90%;
    }
    .main-3 .facts{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .main-3 .facts .fact-1{
        margin-bottom: 10px;
    }
}
/* -------------------------------
-----------Extra-Section----------
------------------------------- */
@media only screen and (max-width:576px) {
    .extra-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .extra-section .resume{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 70%;
    }
}
/* -------------------------------
-----------main4-Section----------
------------------------------- */
@media only screen and (max-width: 576px) {
    .main-4{
        display: grid;
        grid-template-columns: 1fr;
    }
    .main-4 .s-text{
        width:770px;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        margin-left: 15px;
    }
    .main-4 .s-text h2{
        padding-left: 300px;
    }
    .main-4 .s-text p{
        width: 400px;
        padding-left: 30px;
        padding-right: 30px;
        margin-right: 0px;
    }
    .main-4 .Sponsors{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
}
/* -------------------------------
---------------Footer-------------
------------------------------- */
footer{
    margin-left: 30px;
    margin-right: 30px;
}